html {
  background-color: #90caf9 ; /*blue lighten-3*/
}


tr {
  border-color: black;
  background-color: grey;
}

button.listedButton{
  align-self: center;
  margin: auto;
  color: rgb(0, 0, 0);
  background-color: transparent;
  margin: transparent;
}
button.restOfTriggerText{
  background-color: white; /* Red for delete! */
  border: 2px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:8px;
  transition-duration: 0.5s;
}
button.addDelete:hover {
  background-color: red;
}
button.openMap{
  background-color: #1e88e5; /* Use the same color as the top */
  border: 2px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:8px;

}