html {
  background-color: red ; /*blue lighten-3*/
}

/* Options button */
.btn-dark.dropdown-toggle {
  background-color: #4d4d4d !important;
}

/* Add car button */
.btn-dark {
  background-color: #4d4d4d !important;
}

nav .nav-wrapper i {
  height: 66px !important;
  line-height: 66px !important;
}

nav a.sidenav-trigger {
  height: 66px !important;
  line-height: 66px !important;
}

nav a.sidenav-trigger i {
  height: 66px !important;
  line-height: 66px !important;
}

nav {
  height: 66px !important;
  line-height: 66px !important;
  color: #fff;
  background-color: #4d4d4d !important;
}

tr {
  border-color: black;
  background-color: #ff0a0a57;
  
}

video{
  position: absolute;
   width:100%;
  left:50%;
  top: 50%;
  height:100%;
  /* object-fit: cover; */
  z-index: -1;
}

button.listedButton{
  align-self: center;
  margin: auto;
  color: rgb(0, 0, 0);
  background-color: transparent;
  margin: transparent;
}
button.restOfTriggerText{
  background-color: white; /* Red for delete! */
  border: 2px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:8px;
  transition-duration: 0.5s;
}
button.addDelete:hover {
  background-color: red;
}
button.openMap{
  background-color: #e51e1e; /* Use the same color as the top */
  border: 2px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:8px;

}
h1{
  text-align: center;
}